@using Microsoft.AspNet.Identity
@model IEnumerable<JobBoardMVC.Models.SavedCompany>

@{
    ViewBag.Title = "My Dashboard";
    Layout = "../Shared/_Layout.cshtml";
    @*Global variables*@
int jobCount = ViewBag.Counts;
int maxPagesDisplayed = 5; @*This var should always equal the JS var with the same name*@
int jobsPerPage = 5;
var userName = User.Identity.GetUserName();
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<h2>Dashboard</h2>

@Html.ActionLink("View Saved Jobs", "Index", new { }, new { @class = "btn btn-warning change-view" })

<h4>User: @userName</h4>

<h3>Saved Companies</h3>
<div class="container tableContainer">
    <table class="table table-hover table-responsive tablesorter" id="savedCompanyTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CompanyCompanyName)</th>
                <th>@Html.DisplayNameFor(model => model.City)</th>
                <th>@Html.DisplayNameFor(model => model.State)</th>
                <th>Delete Company</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <!-- <td> tags must have no whitespace -->
                    <td>@Html.ActionLink(item.CompanyCompanyName, "Details", "CompanyInfo", new { id = item.CompanyCompanyName }, new { target = "_blank" })</td>
                    <td>@Html.DisplayFor(modelItem => item.City)</td>
                    <td>@Html.DisplayFor(modelItem => item.State)</td>
                    <td>@Html.ActionLink("Delete", "DeleteCompany", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                </tr>
            }
        </tbody>
    </table>
    @*This is the code for the number of results per page*@

    @if (jobCount > jobsPerPage)
    {
        <div class="Container">
            <i class="fa fa-angle-double-left fa-2x"></i>
            <ul class="pagination">
                <li class="active paginationLink"><a>1</a></li>
                @for (var i = 2; i <= (jobCount - 1) / jobsPerPage + 1 && i <= maxPagesDisplayed; i++)
                {
                    <li class="paginationLink"><a>@i</a></li>
                }
            </ul>
            <i class="fa fa-angle-double-right fa-2x"></i>
            <br />

        </div>
    }
    Results per page: <select id="jobs-per-page">
        <option value="5" selected="selected">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
